# coding: utf-8
from .dev import *


DATABASES = {
    'default': {
        'ENGINE': "django.db.backends.postgresql_psycopg2",
        'NAME': "{{ pillar['postgresql_db'] }}",
        'USER': "{{ pillar['postgresql_user'] }}",
        'PASSWORD': "{{ pillar['postgresql_password'] }}",
    }
}

SECRET_KEY = 'some dev secret key'

# It helps with Vagrant.
DEBUG_TOOLBAR_CONFIG['SHOW_TOOLBAR_CALLBACK'] = lambda *args: True
